/**********/
/* HEADER */
/**********/

.header--body {
  grid-column: 1;
  padding:1em 0;
  height: 100vh;
  overflow-y: clip;
  background-color:var(--bg-header);
  position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    padding: 1em;
    padding-top: calc(var(--logo-height) + (var(--logo-padding-y) * 2));
  width: var(--nav-grid);
}

.header--body.is-open {
  border-bottom:var(--border-thin--t);
  box-shadow: var(--shadow);
}

.header--body__block {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  gap:var(--grid-gap) 1em;
  height: 100%;
}



/*************/
/* SKIP LINK */
/*************/

a.link--skip {
  position: absolute;
  top:3em;
  left:var(--gap);
}

/**************/
/* NAV - MAIN */
/**************/

.nav--main {
  display:var(--js, grid);
  flex-basis:100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  gap: clamp(1em, 4vw - 1em, 2em);
}

.is-open .nav--main {
  display:grid;
}

.nav--main > ul {
  margin:0;
  padding:0;
  list-style:none;
  position: relative;
  display:flex;
  height: fit-content;
  align-items:start;
  flex-direction: column;
}

@supports (list-style-type:"") {
  .nav--main ul {
    list-style:initial;
    list-style-type:"";
  }
}

/* LINK */
.nav--main a {
  position: relative;
  padding:.5em 0;
  display:block;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:600;
  font-size:1rem;
  text-decoration:none;
  color:var(--clr-nav--main);
  background-color: var(--bg-nav--main);
}

.nav--main a::after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:.3rem;
  background-color:currentColor;
  opacity:0;
  pointer-events:none;
}

.nav--main a[aria-current="page"]::after {
  opacity:1;
}

/* interaction */
.nav--main a:hover::after {
  opacity:1;
}




/******************/
/*    NAV--SUB    */
/******************/

.nav--sub{
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  left: clamp(-2em, 4vw - 1em, -1em);
  pointer-events: none;
  background: var(--bg-header);
  padding: unset;
}

.nav--main li:hover .nav--sub{
  opacity: 1;
  pointer-events: all;
}

.nav--sub ul{
  padding: clamp(1em, 4vw - 1em, 2em);
  word-break: break-all;
}

.nav--sub a{
  display: inline-block;
}





/******************/
/* RESPONSIVENESS */
/******************/

@container --container--body (width > 43em) {
  .header--body,
  .header--body.is-open {
    position:sticky;
    top:0;
    z-index:10;
    transform: unset;
    box-shadow: none;
    border:none;
  }

  .header--body__block {
     gap:1em;
  }

  .nav--main > ul {
    gap:clamp(1em, 4vw - 1em, 2em);
  }
}